.customButtonTypesOfNeed {
    width: 80%;
    text-align: center;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    ;
    margin-right: 20px;
    margin-left: 20px;
    margin: 25px;
    border-style: solid;
  border-color: rgb(239, 236, 249);
}

.customButtonActive {
    background: linear-gradient(rgb(183, 232, 247), #16adfe);
}