
html body {
    height: 100%;
    direction: ltr;
    font-family: 'Grape Nuts';
}
.ProductContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.ProductBody{
    font-weight: 10;
    color: rgb(110,107,123);
    text-align: start;
    margin-top: 30px;
    border-radius: 15px;
    width: 95%;
    background-color: #FFFF;
}
.ProductListProductTitle:hover{
    cursor: pointer;
    color: #16adfe;
}
.ProductBodyHeader{
    text-align: center;
    background-color: #b4c6e9;
    border-radius: 15px;
}
.ProductListProducts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.ProductListProduct{
    border-radius: 0.428rem;
    margin: 10px 10px 40px 10px;
    width: 350px;
    background-color: #F8F8F8;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2), 0px 0px 5px rgba(0,0,0,0.2);
    border: 0 solid rgba(34,41,47,.125);
    transition: 0.4s;
}
.ProductListProductBody{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    position: relative;
    padding: 20px;
    height: 350px;
    background-color: #f7f7f7;
}
.ProductListProductTitle{
    font-weight: 500;
    font-size: 20px;
    
}
.ProductProductImage{
    border-radius: 25px;
    width: 300px;
    height: 200px;
    margin: 0px 0px;
}

.ProductListButton{
    width: 47%;
    height: 50px;
    border: none;
    margin: 5px;
}

.ProductListProduct:hover{
    display: block;
    margin-top: -5px;
    transition: 0.4s;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 1;
}
.ProductProductTexts{
    margin-top: 20px;
}


@media only screen and (max-width: 450px) {
    .ProductListProduct{
        width: 350px;
    }


    .ProductListProduct:hover{
        width: 330px;
    }
  }